/* docs/stylesheets/extra.css */

/* Aumentar tamaño del logo */
.md-header__button.md-logo img, 
.md-header__button.md-logo svg {
    height: 42px; /* El default es 24px, prueba con 38px a 45px */
    width: auto;
}

/* Opcional: Si el logo se ve muy pegado a los bordes */
.md-header__button.md-logo {
    padding: 0px 10px; 
}
